---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import SiteInfo from '../components/home-components/SiteInfo.astro';
import ArticleCard from '../components/home-components/ArticleCard.astro';
import FeaturedArticle from '../components/home-components/FeaturedArticle.astro';
import {formatDate} from "../lib/api";
import {getLatestArticles} from "../lib/strapiClient";


export async function getStaticPaths({ paginate }) {
  const posts = await getLatestArticles('articles', 100);
  const validPosts = posts?.filter((post: any) => post?.attributes) || [];

  return paginate(validPosts, { pageSize: 16});
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---


<Layout
  title="Blog de Desarrollo Personal"
  description=`Artículos página ${page.currentPage} de ${page.totalPages}}`
>

    <div class="wrapper">
        <section class="py-24">
            <SiteInfo
                    title="Blog de Desarrollo Personal"
                    description="Iaax Page"
                    quote="Escucha tu voz interior • Toma las mejores decisiones para ti • Se considerado con los demás"
            />
            <FeaturedArticle/>
            <section class="py-24">
                <div class="container px-4 mx-auto">
                    <div class="flex flex-wrap -mx-4 -mb-8 md:-mb-12 justify-center">

                      {page.data?.filter((post: any) => post?.attributes).map((post: any) => (
                              <ArticleCard
                                      title={post.attributes.title}
                                      content={post.attributes.overview}
                                      slug={post.attributes.slug}
                                      date={formatDate(post.attributes.manual_published_at)}
                              />
                      ))}


                    </div>
                </div>
            </section>
        </section>
        <div class="py-8 flex justify-evenly w-1/3 m-auto">
            {page.url.next ? <a href={page.url.next} class="text-blue-800 hover:underline text-xl">&lt; Atr&aacute;s</a> : null}
            {page.url.prev ? <a href={page.url.prev} class="text-blue-800 hover:underline text-xl">Adelante &gt;</a> : null}
        </div>
    </div>
    <Footer/>
</Layout>
