---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import SiteInfo from '../components/home-components/SiteInfo.astro';
import ArticleCard from '../components/home-components/ArticleCard.astro';
import FeaturedArticle from '../components/home-components/FeaturedArticle.astro';
import {formatDate} from "../lib/api";
import {getLatestArticles} from "../lib/strapiClient";

const posts = await getLatestArticles();
console.log(' >>> POSTS: ', posts);
---


<Layout title="Iaax Page">

    <div class="wrapper">
        <section class="py-24">
            <SiteInfo
                    title="Iaax Page"
                    description="Blog de Desarrollo Personal"
                    quote="Escucha tu voz interior • Toma las mejores decisiones para ti • Se considerado con los demás"
            />
            <FeaturedArticle/>
            <section class="py-24">
                <div class="container px-4 mx-auto">
                    <div class="flex flex-wrap -mx-4 -mb-8 md:-mb-12 justify-center">

                      {posts.map((post: any) => (
                              <ArticleCard
                                      title={post.attributes.title}
                                      content={post.attributes.overview}
                                      slug={post.attributes.slug}
                                      date={formatDate(post.attributes.manual_published_at)}
                              />
                      ))}

                    </div>
                </div>
            </section>
        </section>
    </div>
    <Footer/>
</Layout>
