---
import dotenv from "dotenv";
import Layout from '../../layouts/Layout.astro';
import PostHero from '../../components/post-components/PostHero.astro';
import Footer from '../../components/Footer.astro';
import {formatDate, getAllPublishedPostsSlugs, getPostBySlug} from '../../lib/api';
import "../../styles/post.css";
import ArticleHeader from "../../components/post-components/ArticleHeader.astro";
import SocialShareButton from "../../components/post-components/SocialShareButton.astro";

dotenv.config();

const homeUrl = process.env.HOME_URL;

export async function getStaticPaths() {
  const postSlugs = await getAllPublishedPostsSlugs();

  return postSlugs.edges.map(({node}: any) => {
    return {
      params: {slug: node.slug},
    };
  });
}


const {slug} = Astro.params;
const post = await getPostBySlug(slug ?? '');
const formattedDate = formatDate(post.date);
const demoImage = 'https://images.pexels.com/photos/2166711/pexels-photo-2166711.jpeg?auto=compress&cs=tinysrgb&w=600';
---
<Layout title={post.title}>
    <article id={`article.${slug}`} class="py-0">
        <ArticleHeader title={post.title} publishDate={formattedDate} homeUrl={homeUrl}/>
        <!--{post?.featuredImage?.node?.guid && (-->
        <!--  <PostHero-->
        <!--  imageUrl={post?.featuredImage?.node?.guid}-->
        <!--  altText={post?.featuredImage?.node?.altText}-->
        <!--  />)}-->
        <div class="prose container px-4 mx-auto pt-7">
            <div class="max-w-2xl mx-auto">
                <Fragment set:html={post.content}/>
            </div>
        </div>
        <div class="container py-4 text-center">
            <SocialShareButton url={Astro.url} title={post.title} shareOnX={true} />
        </div>
    </article>
    <Footer/>
</Layout>
