---
import "../styles/globals.scss";
import {getSiteByDomain} from "../lib/strapiClient";


export interface Props {
	title: string;
	description?: string;
	imageUrl?: string;
	imageSize?: any;
}

const site = await getSiteByDomain('iaaxpage.com')
const {
	title = site.title,
	description = site.description,
	imageUrl = site.defaultImageUrl,
	imageSize = site.defaultImageSize,
} = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
		{description && (<meta name="description" content={description} />)}


		<meta property="og:title" content={title} />
		<meta property="og:type" content="image/png" />
		<meta property="og:url" content={Astro.url} />

		{description && (<meta property="og:description" content={description} />)}
		{imageUrl && (<meta property="og:image" content={imageUrl} />)}
		{imageSize?.width && (<meta name="og:image:width" content={imageSize.width} />)}
		{imageSize?.height && (<meta name="og:image:height" content={imageSize.height} />)}


		<meta name="generator" content={Astro.generator} />
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-DLF9W3JG0B">
		</script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-DLF9W3JG0B");
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
